/char-server
/config.log
/config.status
/core
/enc_temp_folder
/ipch
/login-server
/Makefile
/Makefile.cache
/map-server
/mapcache
/nbproject

# Visual Studio
.vs
*.VC.db
*.VC.opendb

# /log/
/log/*.log
/log/*.leaks

# bat tools
/charserv.bat
/logserv.bat
/mapcache.bat
/mapserv.bat
/runserver.bat
/serv.bat

#server launch
char-server.exe
char-server.ilk
char-server.pdb
login-server.exe
login-server.ilk
login-server.pdb
map-server.exe
map-server.ilk
map-server.pdb
mapcache.exe
mapcache.ilk
mapcache.pdb

libmysql\.dll

*.dll

/conf/import/char_conf.txt
/conf/import/map_conf.txt
/conf/import/subnet_conf.txt
/conf/import/inter_conf.txt
/conf/import/login_conf.txt
/conf/import/inter_conf.txt
conf/import/script_conf.txt
conf/import/packet_conf.txt
conf/import/log_conf.txt
conf/import/battle_conf.txt
.idea/*

conf/gepard_shield.conf
